body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px; /* Added border-radius for rounding corners */
    margin: 40px auto;
    max-width: 600px;
}

form {
    margin-bottom: 20px;
}

/* Rounded corners for text input elements */
input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 8px; /* Adjust padding for better appearance */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto; /* Center the entire table */
}


th, td {
    padding: 10px;
    text-align: center;
}
